

/* title :   "Lexend", sans-serif*/

:root{
    --bg-color: #850F8D;
    --hover-color: #E49BFF;
    --text-color: #C738BD;
    --transparent-color: #F8F9D7
}

html{
    scroll-behavior: smooth;
}

body{
    background: #000;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amaranth", sans-serif;
    color: #f7f5f5;
}




#section_header{
    width: 100%;
    /* height: 85vh; */
    background: url(https://i.pinimg.com/564x/ac/e6/92/ace69237e3208efc696c8eb2b2c5a8eb.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.dialogue{
    position: fixed;
    top: 10%;
    left: 3%;
    right: 2%;
    width: 90%;
    height: 100vh;
    background: #f7f5f5;
    z-index: 1;
    overflow: scroll;
    border-radius: 2rem;
    display: none;
    transition: all 0.4s ease-in-out;
}


.dialogue .img_box{
    width: 95%;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.dialogue .img_box .card_img{
    margin: 2rem auto;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(116, 109, 109, 0.8);
    transition: all 0.3s ease-in;
}

.dialogue .img_box .card_img:hover{
    cursor: pointer;
    transform: scale(1.1);
    border: 4px solid var(--bg-color);
}


.dialogue .img_box .card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.dialogue .fa-regular{
    position: absolute;
    left: 94%;
    top: 3%;
    font-size: 3rem;
    color: rgba(161, 73, 73, 0.868);
    z-index: -1;
    cursor: pointer;
    transition: all ease-in 0.3s;
}

.dialogue .fa-regular:hover{
    transform: rotate(180deg);
}

.navBar{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sticky{
    width: 100%;
    height: 120px;
    padding: 1rem;
    background: #f0ebeb;
    z-index: 100;
    transition: all ease-in 0.5s;
}

.sticky ul li a{
    color: var(--bg-color);
    font-weight: bold;
}


.logo{
    width:95px;
    margin: 2rem ;
}


.navBar .navBar_items{
    margin-right: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.navBar_items li{
    list-style: none;
    margin: 1rem;
}

.navBar_items li a{
    display: block;
    color: var(--transparent-color);
    text-decoration: none;
    /* margin: 0.1rem; */
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
    transition: all ease-in-out 0.5s ;
}


.navBar_items li a:hover{
    font-size: 1.1rem;
    padding: 0.3rem;
    margin: 0.3rem;
}

.navBar_items li a.active{
    border-bottom: 0.2rem solid var(--hover-color);
    font-size: 1.1rem;
    padding: 0.3rem;
    margin: 0.3rem;
}


.navBar_items li a::after{
    content: '';
    width: 0;
    height: 0.2rem;
    background: var(--hover-color);
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}

.navBar_items li a:hover::after{
    width: 100%;
}


.navBar i{
    font-size: 1.6rem;
    color: var(--transparent-color);
    display: none;
}


.header_content{
    margin-top: -1rem;
    padding: 1rem;
    padding-top: 23%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.header_text{
    flex-basis: 60%;
    padding: 0.5rem;
}

.header_text h1{
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    color: var(--transparent-color);
    font-size: 5rem;
    margin-bottom: 1rem;
}

.header_text p{
    font-size: 2rem;
}



.header_text .btn{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    width: 60%;
    font-weight: bold;
    margin-top: 3rem;
    padding: 0.7rem;
    border: 1px solid var(--hover-color);
    border-radius: 0.3rem;
    background: var(--bg-color);
    cursor: pointer;
    box-shadow: 0px 2px 5px  var(--transparent-color);
    transition: background 0.6s, all ease-in-out 0.4s;
}

.header_text .btn:hover{
    background: transparent;
    transform: scale(0.9);
}


.header_content .header_img{
    width: 500px;
    height: 300px;
    margin-bottom: 4rem;
    flex-basis: 30%;
    background: url(images/gb-f.jpg);
    background-position: center;
    background-size: cover;
    border: 2px solid var(--hover-color);
    border-radius: 50%;
    box-shadow: 0px 2px 10px var(--transparent-color);
    transition: all ease 0.6s;
}

.header_content .header_img:hover{
    transform:  translateX(-20px);
}



.header_text_container{
    width: 70%;
    display: grid;
    margin-top: -3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background: rgba(65, 62, 62, 0.795);
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.header_text_container .box{
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1.5rem;
}


.header_text_container .box h2{
    font-size: 1.7rem;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    color: var(--transparent-color);
    margin-bottom: 0.3rem;
    text-align: center;
}


.header_text_container .box p{
    font-size: 1rem;
    text-align: center;
}


.programme{
    width: 100%;
    margin-top: 7rem;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
}

.programme .titre{
    font-size: 2rem;
    font-family: "Lexend", sans-serif;
    color: #f7f5f5;
    text-align: center;
    padding: 1.4rem;
    text-transform: capitalize;
    margin: 1rem auto;
    border-radius: 4rem 0.2rem 4rem 0.2rem;
    background: rgba(51, 49, 49, 0.703);
}


.programme .box{
    display: grid;
    max-width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 3rem;
    margin-top: 2rem;
}

.programme .box .card{
    width: 100%;
    height: 570px;
    max-height: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(51, 49, 49, 0.703);
    box-shadow: 0px 2px 15px 1px rgba(255, 255, 255, 0.763);
    transition: all 0.6s;
}

.programme .box .card:hover{
    transform: translateY(-20px);
}


.programme .box .card img{
    width: 100%;
    height: 60%;
    border-radius: 1rem 1rem 0rem 0rem;
    object-fit: cover;
    margin-bottom: 1rem;
}

.programme .box .card h2{
    font-size: 1.2rem;
    font-family: "Lexend", sans-serif;
    font-weight: 700;
    text-align: center;
}

.programme .box .card p{
    font-size: 0.9rem;
    /* margin: 1rem 0.5rem; */
    padding: 5px 5px 20px 10px;
    overflow: hidden;
}


/* ------------- Section trainer ------------- */


.section_trainer{
    margin-top: 4rem;
    width: 100%;
    background: rgba(51, 49, 49, 0.703);
    padding: 1rem;
}

.section_trainer .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section_trainer .container .box_img{
    flex-basis: 45%;
    background: var(--hover-color);
    border-radius: 2rem;
}

.section_trainer .container .box_img img{
    width: 100%;
    border-radius: 2rem;
    position: relative;
    right: -2%;
}

.section_trainer .container .box_text{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container .box_text h2{
    font-size: 1.3rem;
    font-family: "Lexend", sans-serif;
    color: #f7f5f5;
    text-align: center;
    padding: 1.4rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    border-radius: 4rem 0.2rem 4rem 0.2rem;
    background: rgba(51, 49, 49, 0.703);
}

.container .box_text .calendrier ul h4{
    color: var(--transparent-color);
}

.container .box_text .calendrier ul h4 span{
    color: var(--hover-color);
}


.container .box_text .calendrier ul li{
    font-size: 1rem;
    text-align: left;
    line-height: 1.6rem;

} 



/* --------------- section abonnement --------- */
 
.section_abonnement{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.section_abonnement h1{
    font-size: 2rem;
    width: 70%;
    font-family: "Lexend", sans-serif;
    color: #f7f5f5;
    text-transform: capitalize;
    text-align: center;
    padding: 1.4rem;
    margin-bottom: 3rem;
    border-radius: 4rem 0.2rem 4rem 0.2rem;
    background: rgba(51, 49, 49, 0.703);
}

.section_abonnement .box{
    width: 100%;
    max-width: 90%;
    margin-left:  2rem;
    margin-right:  2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}


.section_abonnement .box .card{
    width: 90%;
    margin: 1rem 0.2rem;
    border-radius: 1rem;
    background: rgba(51, 49, 49, 0.703);
    transition: all 0.6s;
}

.section_abonnement .box .card:hover{
    transform: scale(1.1);
    box-shadow: 0px 2px 15px 1px rgba(255, 255, 255, 0.763);
    transform: scale(1.1);
}



.section_abonnement .card .card_content{
    padding: 2rem;
    background: rgba(51, 49, 49, 0.703);
    border-radius: 1rem 1rem 5rem 0;
    
}

.section_abonnement .card_content h2{
    font-family: "Lexend", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--transparent-color);
    margin-bottom: 1rem;
}

.section_abonnement .card_content ul li{
    list-style-type: disc;
    font-size: 1rem;
    line-height: 2rem;
}

.section_abonnement .card_content .price{
    font-family: "Lexend", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--hover-color);
    font-weight: bold;
}


.section_abonnement .card .card_btn{
    position: relative;
    bottom: -4%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem auto;
    font-size: 1.2rem;
    background: var(--bg-color);
    padding: 0.7rem;
    border: 1px solid var(--hover-color);
    border-radius: 6px;
    box-shadow: 0px 2px 5px var(--transparent-color);
    cursor: pointer;
    transition: background ease-in 0.3s, all 0.4s ; 
}

.section_abonnement .card .card_btn:hover{
    transform: scale(0.8);
    background: transparent;
} 




/* ------------- Commentaire de nos clients----------- */
 
.section_client{
    width: 100%;
    margin: 6rem auto;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
}


.section_client .titre{
    font-size: 2rem;
    font-family: "Lexend", sans-serif;
    color: #f7f5f5;
    text-align: center;
    text-transform: capitalize;
    padding: 1.8rem;
    margin: 1rem auto;
    border-radius: 4rem 0.2rem 4rem 0.2rem;
    background: rgba(51, 49, 49, 0.703);
}


.section_client .box{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 30px;
    margin-top: 2rem;
}

.section_client .box .card{
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(51, 49, 49, 0.703);
    box-shadow: 0px 2px 5px 1px rgba(255, 255, 255, 0.763);
    transition: all 0.6s;
}

.section_client .box .card:hover{
    transform: translateY(-20px);
}


.section_client .box .card .box_image{
    width: 100px;
    height: 100px;
    margin: 1rem auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.section_client .card .box_image img{
    width: 100%;
    height: 100%;
    border: 2px solid var(--hover-color);
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
}

.section_client .box .card h2{
    font-size: 1.2rem;
    font-family: "Lexend", sans-serif;
    font-weight: 700;
    text-align: center;
}

.section_client .box .card p{
    font-size: 0.9rem;
    margin: 1rem 0.5rem;
    letter-spacing: 1px;
}


.section_client .card .stars{
    width: 90%;
}

.section_client .card .stars ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.section_client .card .stars ul li{
    list-style: none;
}


.section_client .card .stars ul li i{
    font-size: 1.2rem;
    color: var(--transparent-color);
}


/* --------------- About us ----------- */

.about{
    margin-top: 6rem;
}

.about .about_contents{
    max-width: 100%;
    height: 60vh;
    background: url(https://i.pinimg.com/564x/8b/e1/fa/8be1faca2e67fb5ac772f9217f7e9eee.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
}

.about .about_contents h1{
    text-align: center;
    margin: 2rem auto;
    font-size: 4rem;
    font-family: "Lexend", sans-serif;
    color: #f7f5f5;
    text-transform: capitalize;
}


.about .about_contents p{
    font-size: 1.3rem;
    margin: 3rem;
}

.about .btn{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    width: 20%;
    font-weight: bold;
    margin: 3rem auto;
    text-transform: capitalize;
    padding: 0.7rem;
    border: 1px solid var(--hover-color);
    border-radius: 0.3rem;
    background: var(--bg-color);
    cursor: pointer;
    box-shadow: 0px 2px 5px  var(--transparent-color);
    transition: background 0.6s, all ease-in-out 0.4s;
}

.about .btn:hover{
    transform: scale(1.1);
    background: var(--transparent-color);
    color: var(--bg-color);
}

.about .map_container{
    width: 100%;
    height: 80vh;
    margin-bottom: 5rem;
}


.about .map_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1px);
}


.contact .container{
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 4rem auto;
}


.contact .container .right{
    /* flex-basis: 40%; */
    max-width: 80%;
    background: rgba(65, 62, 62, 0.795);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 20px 4px rgba(36, 34, 36, 0.696);
}

.contact .right h2{
    font-family: "Lexend", sans-serif;
    font-size: 1.7rem;
    text-align: center;
    margin: 1.2rem auto;
}


.contact .right .icon_box h4{
    /* margin-left: 1rem; */
    padding: 1rem;
    font-size: 1.1rem;
    color: var(--transparent-color);
    text-transform: capitalize;
}

.contact .right .icon_box h4 i{
    font-size: 1.3rem;
    color: var(--hover-color);
    margin-right: 1rem;
    text-align: center;
}


.contact .right .icon_box p, li{
    margin-left: 1.4rem;
    font-size: 1.1rem;
    text-align: center;
    color: #f7f5f5;
}



.contact .container .left{
    flex-basis: 40%;
    border: 3px solid var(--transparent-color);
    padding: 2rem 1.2rem;
}

.contact .left h2{
    font-size: 3rem;
    text-align: center;
    color: var(--transparent-color);
    margin-bottom: 1.4rem;
}



.contact .left form{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact .left form .input_box{
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin: 0.4rem;
}

.contact .left form .input_box label{
    font-size: 1.2rem;
    color: var(--transparent-color);
    text-align: left;
    margin-bottom: 0.3rem;
    text-transform: capitalize;
}

.contact .left form .input_box input, textarea{
    width: 100%;
    padding: 0.5rem;
    outline: 1px solid var(--transparent-color);
    border-radius: 0.4rem;
}

.contact .left form .input_box textarea{
    height: 100px;
    resize: none;
}

.contact .left form .input_box input:focus,
.contact .left form .input_box input, textarea:focus{
    font-size: 1.2rem;
    color: var(--bg-color);
}

.contact .left form .input_box input:valid,
.contact .left form .input_box input, textarea:valid{
    border: 2px solid var(--bg-color);
}


.contact .left form .btn{
    width: 50%;
    min-width: 20%;
    /* display: block; */
    font-size: 1.3rem;
    color: var(--transparent-color);
    /* background: var(--text-color); */
    background: transparent;
    padding: 0.5rem;
    font-weight: bold;
    border: 1px solid var(--hover-color);
    margin-top: 1rem;
    border-radius: 4px;
    box-shadow: 1px 3px 10px rgba(239, 232, 232, 0.8);
    cursor: pointer;
    transition: background ease-in 0.7s, all ease-in 0.4s;
}

.contact .left form .btn:hover{
    transform: scale(0.9);
    background: var(--bg-color);
    /* color: var(); */
}


/* ------------- Section Footer ------------ */

.section_footer{
    width: 100%;
    background:rgba(51, 49, 49, 0.703);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 100px;
}


.section_footer .logo{
    width: 40%;

}

.section_footer .logo img{
    width: 100%;
}


.section_footer .text_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section_footer .text_container ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section_footer .text_container  ul li{
    list-style: none;
    margin: 1rem;
    text-align: left;
}

.section_footer .text_container li a{
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: left;
    transition: color ease-in 0.3s;
}


.section_footer .text_container li a:hover{
    color: var(--hover-color);
}



.section_footer .follow_us .follow_btn{
    width: 50%;
    height: 50%;
    padding: 0.2rem;
    margin: 0.3rem auto;
    font-size: 0.8rem;
    font-weight: bold;
    color: #f7f5f5;
    background: transparent;
    text-align: center;
    border: 1px solid var(--bg-color);
    cursor: pointer;
    transition: all ease-in 0.3s;
}

.section_footer .follow_us .follow_btn:hover{
    transform: scale(0.9);
}




.section_footer .follow_us{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}


.section_footer .follow_us .social_media{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section_footer .follow_us .social_media .links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}

.section_footer .follow_us .social_media .links a{
    list-style: none;
    margin: 0.2rem 0.5rem;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--transparent-color);
    color: var(--bg-color);
    transition: background ease-in 0.4s, transform ease-in-out 0.4s;
}



.section_footer .follow_us .social_media .links a i{
    font-size: 1.6rem;
    color: var(--bg-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: var(--transparent-color); */
    transition: background ease-in 0.6s, transform ease-in-out 0.5s;
}

.section_footer .follow_us .social_media .links a:hover{
    background: var(--bg-color);
    transform: scale(1.2);
    color: var(--transparent-color);
    
}


.section_footer .follow_us .social_media .links a:hover i{
    color: var(--transparent-color);
}


footer .copyright{
    margin: 10px auto;
    text-align: center;
}


footer .copyright a{
    background: var(--transparent-color);
    color: var(--bg-color);
    font-weight: bold;
}





/* ############# MediaQueries ################# */


@media screen and (max-width: 900px) {

    
.sticky{
    width: 100%;
    height: 100px;
    padding-top: 3rem;
    background: var(--bg-color);
    z-index: 100;
    transition: all ease-in 0.5s;
}

.sticky ul li a{
    color: var(--bg-color);
    font-weight: bold;
}
    
    .logo {
        width: 60px;
        margin: 1rem;
    }

    .navBar_items li a{
        font-size: 0.8rem;
    }

    .navBar_items li a:hover{
        font-size: 0.9rem;
        padding: 0;
        margin: 0;
    }
    .navBar_items li a.active{
        font-size: 0.9rem;
        padding: 0;
        margin: 0;
    }

    .header_content .header_img{
        width: 300px;
        height: 200px;
        margin-bottom: 4rem;
        flex-basis: 30%;

    }


    .header_text_container{
        width: 90%;
        display: grid;
        margin-top: 3rem;
    }

    .programme{
        width: 100%;
        margin: 5rem 1rem;
    }

     .programme .box{
            display: grid;
            width: 90%;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 3rem

    } 

    .programme .titre{
        font-size: 1.8rem;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .container .box_text{
        width: 90%;
    }

    .container .box_text .calendrier{
        width: 100%;
    }

    .container .box_text h2{
        font-size: 1.5rem;
        margin: 2rem auto;
    }

    

    .section_abonnement h1{
        font-size: 1.7rem;
        width: 40%;
    }



    .section_abonnement .box{
        width: 100%;
        margin-left:  2rem;
        margin-right:  2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 40px;
    }


    .section_abonnement .card_content h2{
        font-family: "Lexend", sans-serif;
        font-size: 1rem;
    }


    .section_abonnement .card_content ul li{
        list-style-type: circle;
        font-size: 0.8rem;
    }
    
    .section_abonnement .card_content .price{
        font-family: "Lexend", sans-serif;
        margin-bottom: 0.8rem;
        text-align: center;
        color: var(--hover-color);
        font-weight: bold;
    }

    .section_abonnement .card .card_btn{
        position: relative;
        bottom: 0%;
        margin: 1.3rem auto;
        font-size: 1rem;
        padding: 0.4rem;

    }

    .section_client{
        width: 85%;
        margin: 1rem auto;
    }

    .section_client .titre{
        font-size: 1.7rem;
    }


    .contact .container .right{
        flex-basis: 80%;
    }
    .contact .container .left{
        flex-basis: 80%;
    }


    .about .about_contents h1{
        font-size: 2.4rem;
    }





    .section_footer{
        margin-top: 5rem;
        width: 100%;
        gap: 50px;
    }


    .section_footer .text_container  ul li{
        list-style: none;
        margin: 0.3rem;
    }

    .section_footer .text_container li a{
        display: block;
        font-size: 1rem;
    }

    .section_footer .follow_us .follow_btn{
        width: 60%;
        height: 30%;
        padding: 0.2rem;
        margin: 0.3rem auto;
        font-size: 0.7rem;
    }

    .section_footer .follow_us .social_media .links a{
        width: 30px;
        height: 30px;
        margin: 0.2rem 0.4rem;
    }


    .section_footer .follow_us .social_media .links a i{
        font-size: 1rem;
    }

    footer .copyright{
        font-size: 0.7rem;
    }
}




@media screen and (max-width: 750px) {
    .header_text h1{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .header_text p{
        font-size: 0.8rem;
    }

    .navBar_items{
        position: fixed;
        top: -4%;
        left: 140%;
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        justify-content: center;
        align-items: center;
        background: var(--bg-color);
        width: 50%;
        max-width: 40%;
        min-width: 70%;
        height: 110vh;
        transition: all ease-in 0.5s;
    }

    .navBar_items .fa-regular{
        display: flex;
        position: absolute;
        right: 25%;
        top: 2%;
        font-size: 2rem;
        cursor: pointer;
    }

    .navBar .fa-bars{
        display: block;
        /* position: absolute;
        right: 8%; */
        font-size: 2rem;
        margin-right: 2rem;
        cursor: pointer;
    }


    .dialogue .img_box{
        width: 90%;
    }

    .dialogue .fa-regular{
        position: absolute;
        left: 90%;
        top: 3%;
    }


    .navBar_items li a{
        display: block;
        margin-top: 1rem auto;
        font-size: 1rem;
        border: none;
    }

    
.navBar_items li a:hover{
    font-size: 1.1rem;
    padding: 0.3rem;
    margin: 0.3rem;
}

.navBar_items li, a{
    width: 100%;
    margin: 0.2rem auto;
    text-align: center;
}

.navBar_items li a.active{
    border: none;
    width: 100%;
    display: block;
    background: var(--transparent-color);
    color: var(--bg-color);
    font-size: 1.1rem;
    padding: 0.3rem;
    margin: 0.3rem;
    text-align: center;
    }


    .navBar_items li a:hover::after{
        width: 0;
    }



    


    .programme .box .card{
        width: 100%;
        height: 90vh;
    }

    .container .box_text h2{
        font-size: 1.3rem;
        padding: 1.3rem;
    }


    .section_abonnement h1{
        font-size: 1.8rem;
        width: 60%;
    }

    .section_abonnement .card_content .price{
        font-size: 0.9rem;
    }

    .section_client .titre{
        font-size: 1.4rem;
    }


    .about .about_contents p{
        font-size: 1.2rem;
        margin-left: 2rem;
    }

    .about .about_contents{
        height: 80vh;
    }


}








@media screen and (max-width: 500px) {


    .navBar{
        position: static;
    }

    

    .navBar .logo{
        width: 15%;
    }

    .navBar .fa-bars{
        font-size: 1.5rem;
        margin-right: 0.6rem;
    }

    

    .header_content{
        margin: 1rem auto;
        padding: 0.2rem;
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .header_text{
        width: 100%;
        padding: 0.5rem;
    }

    .dialogue .img_box{
        width: 80%;
        margin: 2rem auto;
    }

    .dialogue .fa-regular{
        left: 86%;
        top: 3%;
        font-size: 1.8rem;
    }
    
    .header_text h1{
        font-family: "Lexend", sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
    }

    .header_text .btn{
        font-size: 0.8rem;
        width: 50%;
        display: block;
        margin: 1rem auto;
        text-align: center;
    }


    .header_content .header_img{
        display: none;
    }


    .programme .titre{
        font-size: 0.7rem;
    }

    .programme .box{
        width: 90%;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-left: -20px; */
    }

    .programme .box .card {
        width: 100%;
        height: 100%;
    }

    .programme .box .card:hover{
        transform: translateY(0px);
    }

    .section_trainer .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .section_trainer .container .box_img{
        width: 100%;
        margin-bottom: 1rem;
    }

    .container .box_text h2{
        font-size: 0.8rem;
        margin-bottom: 1.2rem;
    }

    .container .box_text p{
        font-size: 0.7rem;
    }


    .section_abonnement h1{
        font-size: 1rem;
        width: 100%;
    }

    .section_abonnement .box{
        width: 100%;
        margin-left:  2rem;
        margin-right:  2rem;
        display: flex;
        flex-direction: column;
        /* gap: 40px; */
    }


    
.section_abonnement .box .card{
    width: 80%;
    margin: 1rem auto;
    border-radius: 1rem;
    background: rgba(51, 49, 49, 0.703);
    box-shadow: 0px 2px 15px 1px rgba(255, 255, 255, 0.763);
    transition: all 0.6s;
}

.section_abonnement .box .card:hover{
    transform: scale(1.1);
    box-shadow: none;
    transform: scale(1);
}


    .section_client .titre{
    font-size: 1rem;
    }

    .section_client .box{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
    }
    


    .about .about_contents h1{
        font-size: 1.6rem;
    }

    .about .about_contents p{
        font-size: 1rem;
    }


    .contact .container .right{
        /* padding: 1rem; */
        width: 95%;
    }

    .about .right .icon_box h4{
        margin-left: 0.1rem;
        font-size: 1rem;
        text-align: center;
        padding: 0.4rem 0rem;
    }


    .about .right .icon_box p{
        font-size: 0.8rem;
    }

    .about .about_contents{
        height: 100vh;
    }
    .about .about_contents p{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    

    .section_footer{
        width: 100%;
        background:rgba(51, 49, 49, 0.703);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section_footer .logo{
        width: 40%;
        margin: 1rem auto;
    }


    .section_footer .text_container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }


    .section_footer .text_container li a{
        display: block;
        font-size: 1rem;
        text-align: center;
    }
}





@media screen and (max-width: 300px) {

    .navBar{
        position: static;
    }

    .navBar .logo{
        width: 18%;
    }

    .navBar .fa-bars{
        font-size: 1.5rem;
        margin-right: 0.6rem;
    }

    .navBar_items{
        width: 100%;
    }

    .dialogue .img_box{
        width: 80%;
        margin: 2rem auto;
    }

    .dialogue .fa-regular{
        left: 80%;
        top: 3%;
        font-size: 1.5rem;
    }

    .header_content{
        margin: 1rem auto;
        padding: 0.2rem;
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .header_text{
        width: 100%;
        padding: 0.5rem;
    }
    
    .header_text h1{
        font-family: "Lexend", sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
    }

    .header_text .btn{
        font-size: 0.8rem;
        width: 50%;
        display: block;
        margin: 1rem auto;
        text-align: center;
    }


    .header_content .header_img{
        display: none;
    }


    .programme .titre{
        font-size: 0.7rem;
    }

    .programme .box{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -20px;
    }

    .section_trainer .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .section_trainer .container .box_img{
        width: 100%;
        margin-bottom: 1rem;
    }

    .container .box_text h2{
        font-size: 0.8rem;
        margin-bottom: 1.2rem;
    }

    .container .box_text p{
        font-size: 0.7rem;
    }


    .section_abonnement h1{
        font-size: 1rem;
        width: 100%;
    }


    .contact .right .icon_box h4{
        font-size: 1rem;
    }
    .contact .right .icon_box p{
        font-size: 0.5rem;
        margin: 0;
        text-align: left;
    }


    
    .contact .container .right h2{
        width: 100%;
        margin: 1.5rem 0;
        padding: 0;
        font-size: 1.3rem;
    }

    .contact .container .right{
        /* padding: 1rem; */
        width: 95%;
    }

    .about .right .icon_box h4{
        margin-left: 0.1rem;
        font-size: 1rem;
        text-align: center;
        padding: 0.4rem 0rem;
    }


    .about .right .icon_box p{
        font-size: 0.8rem;
    }

    .about .about_contents{
        height: 100vh;
    }

    .about .about_contents h1{
        font-size: 1.4rem;
    }
    .about .about_contents p{
        margin-bottom: 2.7rem;
        margin-top: 1rem;
    }



    .contact .left form .input_box label{
        font-size: 1rem;
    }

    .contact .left form .input_box input, textarea{
        width: 100%;
        padding: 0.3rem;
    }

    .contact .left form .btn{
        width: 80%;
        min-width: 20%;
    }



    .section_footer .logo{
        width: 40%;
        margin: 1rem auto;
    }


    .section_footer .text_container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }


    .section_footer .text_container li a{
        display: block;
        font-size: 1rem;
        text-align: center;
    }
}
